#mid_container {
  border: 1px solid blue;
  width: 100%;
  height: 1200px;
  margin: auto;
  margin-top: 61px;
}

#first-text {
  display: flex;
  border-bottom: 1px solid rgb(210, 207, 207);
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 96);
  height: 70px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#heading {
  display: block;
  margin-top: 59px;
  text-align: center;
  border: 1px solid red;
  font-size: 49px;
  font-family: "freight-big-pro", Times, serif;
  font-weight: lighter;
  letter-spacing: 0.3px;
}
#heading > p {
  font-size: 76px;
  margin: 0;
}

#showFilter {
  width: 8%;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
  border-color: rgb(96, 96, 96);
}
#showFilter > option {
  height: 36px;
}
